* {
    margin: 0;
    padding: 0;

    --primary-color: #567ebb;
    --secondary-color: #1f1f20;
    --background-color: #e6dcdc;
    --white: #fff;
}

body {
    background: var(--background-color);
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

.container {
    padding: 2rem 15rem;
}

@media (max-width: 750px) {
    .container {
        padding: 2rem 5rem;
    }
}