* {
    margin: 0;
    padding: 0;

    --primary-color: #567ebb;
    --secondary-color: #1f1f20;
    --background-color: #e6dcdc;
    --white: #fff;
    --header-height: 5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: var(--background-color);
    padding-top: var(--header-height);
}

a {
    font-family: sans-serif;
    text-decoration: none;
}


.container {
    padding: 2rem 12rem;
    scroll-margin-top: var(--header-height);
}

.hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url("./bg.jpg");
}

@media (max-width: 750px) {
    .container {
        padding: 2rem 3rem;
    }
}