* {
    margin: 0;
    padding: 0;

    --primary-color: #567ebb;
    --secondary-color: #1f1f20;
    --background-color: #e6dcdc;
    --white: #fff;
    --header-height: 5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: var(--background-color);
    padding-top: var(--header-height);
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

.container {
    padding: 2rem 15rem;
}

@media (max-width: 750px) {
    .container {
        padding: 2rem 5rem;
    }
}