.about {
    scroll-margin-top: var(--header-height);
}

.about2 {
    scroll-margin-top: var(--header-height);
}

.about__title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
}

.about__paragraph {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.about__list_style {
    list-style: disc;
}

.about__img {
    width: 50rem;
    height: 50rem;
}