.about {
    height: 100vh;
    background: greenyellow;

    scroll-margin-top: var(--header-height);
}

.about2 {
    height: 100vh;
    background: slateblue;
    scroll-margin-top: var(--header-height);
}

.about__title {
    font-size: 2rem;
    color: var(--secondary-color);
}