.footer {
    padding: 2rem 1rem;
    background: var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white);
}

.footer__nomes-titulo {
    font-family: sans-serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;

    color: var(--background-color);
}

.footer__nomes-alunos {
    font-family: sans-serif;
    font-size: 16px;
}

.footer__nomes-alunos li {
    transition: 150ms;
}

.footer__nomes-alunos li:hover {
    color: var(--primary-color);
}
